.img {
  width: 50rem;
  height: 50rem;
  position: relative;
  overflow: hidden;

  //   project 1

  &-1 {
    .image-caption {
      opacity: 0;
      transition: all 0.5s;
      background-color: rgba(0, 0, 0, 0);
    }
    &:hover .image-caption {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .image {
      transition: all 0.5s;
    }
    &:hover .image {
      transform: scale(1.3) rotate(15deg);
    }
  }

  &-2 {
    .image-caption {
      background-color: rgba(0, 0, 0, 0.5);
      transform: translateX(-100%);
      transition: all 0.5s;
    }
    &:hover .image-caption {
      transform: translateX(0);
    }
    .image {
      transition: all 0.5s;
    }
    &:hover .image {
      transform: scale(1.3) rotate(-15deg);
    }
  }
}

// pre-applied properties

.image {
  width: 100%;
  height: 100%;
}

.image-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.6rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  color: white;
  h2 {
    font-size: 3.6rem;
    text-transform: uppercase;
    margin: 0;
  }
  p {
    font-size: 1.8rem;
    text-transform: capitalize;
  }
}
