@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .grid {
    &.grid__2col,
    &.grid__3col {
      grid-template-columns: 1fr;
    }
  }

  section {
    &.project-images,
    &.project-buttons {
      padding: 2rem 2rem 5rem;
    }
  }
}
