@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .grid {
    &.grid__2col,
    &.grid__3col {
      grid-template-columns: 1fr;
    }
  }

  .img {
    width: 36rem;
    height: 36rem;

    .image-caption {
      h2 {
        font-size: 2.4rem;
      }
    }

    &-6 {
      width: 21.6rem;
      height: 28.8rem;
    }
  }

  section {
    &.project-images,
    &.project-buttons {
      padding: 2rem 2rem 5rem;
      // display: grid;
      // place-content: center;
    }
  }
}
