* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2.4rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 3.6rem;
  font-weight: 400; }

@keyframes wavy {
  0% {
    background-position-x: 0; }
  100% {
    background-position-x: 240px; } }

.btn {
  display: inline-block;
  width: fit-content;
  font-size: 1.8rem;
  text-decoration: none;
  cursor: pointer;
  z-index: 0; }
  .btn__p1 {
    border: 3px solid #262626;
    color: #262626;
    padding: 3.6rem 7.2rem;
    position: relative;
    overflow: clip; }
    .btn__p1::before {
      content: "";
      position: absolute;
      height: 110%;
      width: 110%;
      transition: all 1s;
      z-index: -1; }
    .btn__p1-1::before {
      top: 0;
      left: 0;
      transform-origin: bottom left;
      transform: rotate(-90deg);
      background-color: #fff200; }
    .btn__p1-1:hover::before {
      transform: rotate(0); }
    .btn__p1-2::before {
      top: 0;
      right: -1px;
      transform-origin: bottom right;
      transform: rotate(90deg);
      background-color: #e1332d; }
    .btn__p1-2:hover::before {
      transform: rotate(0); }
    .btn__p1-3::before {
      top: 0;
      right: 0;
      transform-origin: top right;
      transform: rotate(-90deg);
      background-color: #cc5de8; }
    .btn__p1-3:hover::before {
      transform: rotate(0); }
  .btn__p2 {
    color: #351425;
    border: 3px solid #351425;
    padding: 3.6rem 7.2rem;
    position: relative;
    overflow: clip;
    transition: all 0.5s ease-in-out; }
    .btn__p2:hover {
      color: white; }
    .btn__p2::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #351425;
      z-index: -1;
      transition: all 0.5s ease-in-out; }
    .btn__p2-1::before {
      top: 0;
      left: 0;
      transform: translateX(-100%); }
    .btn__p2-1:hover::before {
      transform: translateX(0); }
    .btn__p2-2::before {
      top: 0;
      left: 0;
      transform: translateX(100%); }
    .btn__p2-2:hover::before {
      transform: translateX(0); }
    .btn__p2-3::before {
      bottom: 0;
      left: 0;
      transform: translateY(-100%); }
    .btn__p2-3:hover::before {
      transform: translateY(0); }
    .btn__p2-4::before {
      bottom: 0;
      left: 0;
      transform: translateY(100%); }
    .btn__p2-4:hover::before {
      transform: translateY(0); }
  .btn__p3 {
    padding: 3.6rem 7.2rem;
    border: 3px solid #262626;
    color: #262626;
    letter-spacing: 2px;
    position: relative;
    transition: all 1s; }
    .btn__p3::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #262626;
      transition: all 1s;
      z-index: -1; }
    .btn__p3:hover {
      color: white; }
    .btn__p3-1::before {
      transform: rotateX(90deg); }
    .btn__p3-1:hover::before {
      transform: rotateX(0); }
    .btn__p3-2::before {
      transform: rotateY(90deg); }
    .btn__p3-2:hover::before {
      transform: rotateY(0); }
    .btn__p3-3 {
      cursor: crosshair; }
      .btn__p3-3::before {
        transform: rotateX(90deg); }
      .btn__p3-3::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #262626;
        transition: all 1s;
        z-index: -1;
        transform: rotateY(90deg); }
      .btn__p3-3:hover::before {
        transform: rotateX(0); }
      .btn__p3-3:hover::after {
        transform: rotateY(0); }
  .btn__p4 {
    font-family: "Roboto", sans-serif;
    padding: 3.6rem 7.2rem;
    text-decoration: none;
    transition: all 0.5s; }
    .btn__p4-1 {
      color: #e1332d;
      font-size: 3.6rem;
      font-weight: 300;
      letter-spacing: -2px;
      outline: 3px solid #e1332d; }
      .btn__p4-1:hover {
        font-weight: 900;
        letter-spacing: 10px;
        outline: 6px solid #e1332d; }
    .btn__p4-2 {
      color: white;
      background-color: #222;
      border: 3px solid white;
      position: relative;
      overflow: clip;
      z-index: 1; }
      .btn__p4-2::after {
        display: flex;
        justify-content: center;
        align-items: center;
        content: "YES!";
        background-color: #f44336;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
        z-index: 1;
        transition: all 0.5s; }
      .btn__p4-2:hover::after {
        transform: translateY(0%); }
    .btn__p4-3 {
      font-family: sans-serif;
      color: white;
      border: 3px solid white;
      z-index: 1;
      position: relative;
      overflow: clip; }
      .btn__p4-3:hover {
        background-color: #f44336; }
      .btn__p4-3::before {
        content: "";
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        transition: all 0.5s;
        transform: translate(-100%, 10%) rotate(45deg); }
      .btn__p4-3:hover::before {
        transform: translate(100%, 10%) rotate(45deg); }
    .btn__p4-4 {
      background-color: #262626;
      border: 4px solid #262626;
      position: relative;
      color: transparent;
      overflow: clip; }
      .btn__p4-4::before {
        content: "Hover me";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fffa65;
        color: #262626;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s; }
      .btn__p4-4::after {
        content: "Hover me";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fffa65;
        color: #262626;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        transform: translate(-100%, 100%); }
      .btn__p4-4:hover::before {
        transform: translate(100%, -100%); }
      .btn__p4-4:hover::after {
        transform: translate(0, 0); }
    .btn__p4-5 {
      color: #262626;
      border: 3px solid #262626;
      position: relative;
      font-size: 3.6rem;
      overflow: hidden; }
      .btn__p4-5::before {
        content: "Hover me";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #262626;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(5);
        opacity: 0;
        transition: all 0.5s; }
      .btn__p4-5:hover::before {
        transform: scale(1);
        opacity: 1; }
    .btn__p4-6 {
      border: 2px solid tomato;
      color: tomato;
      font-size: 2.4rem;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      overflow: hidden; }
      .btn__p4-6:hover {
        color: white; }
      .btn__p4-6::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: tomato;
        z-index: -1;
        border-radius: 0 0 50% 50%;
        transition: all 0.5s; }
      .btn__p4-6:hover::before {
        height: 180%; }
    .btn__p4-7 {
      text-transform: uppercase;
      background-color: #f1c40f;
      color: white;
      position: relative;
      font-size: 2rem;
      letter-spacing: 2px; }
      .btn__p4-7::before {
        content: "button";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #2ce771;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: top;
        transform: rotateX(270deg);
        transition: all 0.8s; }
      .btn__p4-7:hover::before, .btn__p4-7:hover::after {
        transform: rotateX(0deg); }
      .btn__p4-7::after {
        content: "button";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e1332d;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: bottom;
        transform: rotateX(270deg);
        transition: all 0.8s 0.25s; }
    .btn__p4-8 {
      text-transform: uppercase;
      letter-spacing: 4px;
      color: #ff0;
      border: 3px solid #ff0;
      position: relative; }
      .btn__p4-8::before {
        content: "button";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #363636;
        color: #ff0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s; }
      .btn__p4-8:hover::before {
        left: 100%;
        transform: scale(0) rotateY(360deg);
        opacity: 0; }
      .btn__p4-8::after {
        content: "button";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #363636;
        color: #ff0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        transform: scale(0) rotateY(0deg);
        opacity: 0; }
      .btn__p4-8:hover::after {
        left: 0;
        transform: scale(1) rotateY(360deg);
        opacity: 1; }
    .btn__p4-9 {
      color: #ff0;
      background-color: transparent;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.5s;
      position: relative; }
      .btn__p4-9::before, .btn__p4-9::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ff0;
        transform: translateY(-50%);
        transition: all 0.3s;
        z-index: -1;
        opacity: 0; }
      .btn__p4-9::before {
        left: 0;
        box-shadow: -100px 0 0 #ff0; }
      .btn__p4-9::after {
        right: 0;
        box-shadow: 100px 0 0 #ff0; }
      .btn__p4-9:hover::before {
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        box-shadow: 30px 0 0 #ff0;
        opacity: 1; }
      .btn__p4-9:hover::after {
        right: 50%;
        transform: translateX(50%) translateY(-50%);
        box-shadow: -30px 0 0 #ff0;
        opacity: 1; }
      .btn__p4-9 span {
        position: absolute;
        top: 0%;
        left: 0;
        transform: scale(0);
        width: 100%;
        height: 100%;
        background-color: #ff0;
        border-radius: 8px;
        transition: all 0.3s;
        z-index: -1; }
      .btn__p4-9:hover {
        color: #262626;
        transition-delay: 0.4s; }
      .btn__p4-9:hover span {
        transform: scale(1);
        transition-delay: 0.4s; }
    .btn__p4-10 {
      font-size: 1.4rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-transform: uppercase;
      background-color: transparent;
      text-align: center;
      font-weight: bold;
      letter-spacing: 2px;
      position: relative;
      transition: all 0.2s;
      color: white; }
      .btn__p4-10:hover {
        color: #272727; }
      .btn__p4-10::before {
        content: "";
        position: absolute;
        top: -3px;
        left: -3px;
        width: 100%;
        height: 100%;
        background-color: #20caff;
        z-index: -1;
        mix-blend-mode: multiply;
        transition: all 0.2s;
        transform-origin: top; }
      .btn__p4-10::after {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 100%;
        height: 100%;
        background-color: #ff7675;
        z-index: -1;
        mix-blend-mode: multiply;
        transition: all 0.2s;
        transform-origin: bottom; }
      .btn__p4-10:hover::before {
        top: -6px;
        left: 0;
        transform: perspective(1500px) rotateX(75deg); }
      .btn__p4-10:hover::after {
        top: 6px;
        left: 0;
        transform: perspective(1500px) rotateX(-75deg); }
    .btn__p4-11 {
      text-transform: uppercase;
      color: #f6b93b;
      letter-spacing: 3px;
      border: 3px solid #f6b93b;
      transition: all 0.5s;
      position: relative;
      overflow: hidden; }
      .btn__p4-11:hover {
        color: #222; }
      .btn__p4-11::before, .btn__p4-11::after,
      .btn__p4-11 span::before,
      .btn__p4-11 span::after {
        content: "";
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: #f6b93b;
        z-index: -1;
        transition: all 0.5s; }
      .btn__p4-11::before {
        top: 0;
        left: -25%; }
      .btn__p4-11::after {
        top: -100%;
        left: 25%; }
      .btn__p4-11:hover::before {
        top: 0;
        left: 0; }
      .btn__p4-11:hover::after {
        top: 0;
        left: 25%; }
      .btn__p4-11 span::before {
        top: 0;
        right: -25%; }
      .btn__p4-11 span::after {
        bottom: -100%;
        right: 25%; }
      .btn__p4-11:hover span::before {
        top: 0;
        right: 0; }
      .btn__p4-11:hover span::after {
        bottom: 0;
        right: 25%; }
    .btn__p4-12 {
      text-transform: uppercase;
      color: #f6b93b;
      letter-spacing: 3px;
      border: 3px solid #f6b93b;
      transition: all 0.5s;
      position: relative;
      overflow: hidden; }
      .btn__p4-12:hover {
        color: #222; }
      .btn__p4-12::before, .btn__p4-12::after,
      .btn__p4-12 span::before,
      .btn__p4-12 span::after {
        content: "";
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: #f6b93b;
        z-index: -1;
        transition: all 0.5s; }
      .btn__p4-12::before {
        bottom: -100%;
        left: 0%; }
      .btn__p4-12::after {
        top: -100%;
        left: 25%; }
      .btn__p4-12:hover::before {
        bottom: 0;
        left: 0; }
      .btn__p4-12:hover::after {
        top: 0;
        left: 25%; }
      .btn__p4-12 span::before {
        top: -100%;
        right: 0%; }
      .btn__p4-12 span::after {
        bottom: -100%;
        right: 25%; }
      .btn__p4-12:hover span::before {
        top: 0;
        right: 0; }
      .btn__p4-12:hover span::after {
        bottom: 0;
        right: 25%; }
    .btn__p4-13 {
      text-transform: uppercase;
      letter-spacing: 3px;
      border: 3px solid #f6b93b;
      transition: all 0.3s;
      position: relative;
      color: #222;
      overflow: hidden; }
      .btn__p4-13:hover {
        color: #f6b93b; }
      .btn__p4-13::before, .btn__p4-13::after,
      .btn__p4-13 span::before,
      .btn__p4-13 span::after {
        content: "";
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: #f6b93b;
        z-index: -1;
        transition: all 0.5s; }
      .btn__p4-13:hover::before {
        bottom: -100%;
        left: 0%; }
      .btn__p4-13:hover::after {
        top: -100%;
        left: 25%; }
      .btn__p4-13::before {
        bottom: 0;
        left: 0;
        transition-delay: 0.1s; }
      .btn__p4-13::after {
        top: 0;
        left: 25%;
        transition-delay: 0.2s; }
      .btn__p4-13:hover span::before {
        top: -100%;
        right: 0%; }
      .btn__p4-13:hover span::after {
        bottom: -100%;
        right: 25%; }
      .btn__p4-13 span::before {
        top: 0;
        right: 0;
        transition-delay: 0.4s; }
      .btn__p4-13 span::after {
        bottom: 0;
        right: 25%;
        transition-delay: 0.3s; }
    .btn__p4-14 {
      text-transform: uppercase;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      letter-spacing: 3px;
      height: 8rem;
      width: 20rem;
      line-height: 6rem;
      font-size: 2.2rem;
      text-align: center;
      color: #fdc518;
      position: relative;
      padding: 0;
      transition: all 0.5s;
      cursor: crosshair; }
      .btn__p4-14::before {
        content: "";
        position: absolute;
        height: 9rem;
        width: 20rem;
        top: -15px;
        left: 0;
        border-left: 2px solid red;
        border-right: 2px solid #fdc518;
        transition: all 1s; }
      .btn__p4-14::after {
        content: "";
        position: absolute;
        height: 6rem;
        width: 23rem;
        top: 0;
        left: -15px;
        border-top: 2px solid red;
        border-bottom: 2px solid #fdc518;
        transition: all 1s 0.2s; }
      .btn__p4-14:hover::before {
        transform: rotateY(180deg); }
      .btn__p4-14:hover::after {
        transform: rotateX(180deg); }
    .btn__p4-15 {
      font-family: "BenchNine";
      font-size: 2.2rem;
      text-transform: uppercase;
      color: white;
      background-color: #c47135;
      position: relative; }
      .btn__p4-15::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        width: 2.4rem;
        height: 2.4rem;
        background-color: transparent;
        border-top: 3px solid #c47135;
        border-left: 3px solid #c47135;
        transition: all 0.25s; }
      .btn__p4-15::after {
        content: "";
        position: absolute;
        bottom: -5px;
        right: -5px;
        width: 2.4rem;
        height: 2.4rem;
        background-color: transparent;
        border-bottom: 3px solid #c47135;
        border-right: 3px solid #c47135;
        transition: all 0.25s; }
      .btn__p4-15:hover::before, .btn__p4-15:hover::after {
        width: 100%;
        height: 100%; }
    .btn__p4-16 {
      color: black;
      border: 2px solid black;
      text-align: center;
      position: relative;
      transition: all 0.2s; }
      .btn__p4-16:hover {
        color: white; }
      .btn__p4-16::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: -1;
        opacity: 0;
        transition: all 0.8s; }
      .btn__p4-16:hover::before {
        opacity: 1;
        transform: rotate(15deg); }
      .btn__p4-16 span {
        color: transparent;
        position: relative; }
        .btn__p4-16 span::before {
          content: "B";
          position: absolute;
          color: black;
          transition: all 0.2s; }
      .btn__p4-16:hover span::before {
        color: white;
        font-size: 8rem;
        transform: translate(-70%, -50%) rotate(360deg); }
    .btn__p4-17 {
      text-transform: uppercase;
      color: white;
      position: relative;
      letter-spacing: 15px;
      font-size: 4.5rem;
      padding: 1rem;
      overflow: hidden; }
      .btn__p4-17::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 4px;
        background-color: white;
        transition: all 0.5s; }
      .btn__p4-17:hover::before {
        left: 0; }
      .btn__p4-17::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 4px;
        background-color: white;
        transition: all 0.5s; }
      .btn__p4-17:hover::after {
        right: 0; }
      .btn__p4-17 span::before {
        content: "";
        position: absolute;
        right: 0;
        top: -100%;
        width: 4px;
        height: 100%;
        background-color: white;
        transition: all 0.5s; }
      .btn__p4-17:hover span::before {
        top: 0; }
      .btn__p4-17 span::after {
        content: "";
        position: absolute;
        bottom: -100%;
        left: 0%;
        width: 4px;
        height: 100%;
        background-color: white;
        transition: all 0.5s; }
      .btn__p4-17:hover span::after {
        bottom: 0; }
  .btn__p5 {
    padding: 3.6rem 7.2rem;
    text-decoration: none;
    transition: all 0.5s; }
    .btn__p5-1 {
      color: #00aeff;
      position: relative;
      letter-spacing: 3px;
      border: 2px solid #00aeff;
      text-transform: uppercase;
      overflow: hidden; }
      .btn__p5-1:hover {
        color: white; }
        .btn__p5-1:hover .wave {
          top: 0; }
      .btn__p5-1 .wave {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: calc(100% + 46px);
        background-color: #00aeff;
        transition: all 1.2s;
        z-index: -1; }
        .btn__p5-1 .wave::before {
          content: "";
          position: absolute;
          top: -48px;
          left: 0;
          width: 100%;
          height: 48px;
          background-image: url("../img/wave.png");
          animation: wavy 0.3s linear infinite; }
    .btn__p5-2 {
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-size: 2.8rem;
      color: white;
      text-transform: uppercase;
      letter-spacing: 7px;
      position: relative;
      background: transparent;
      padding: 1.8rem 3rem; }
      .btn__p5-2::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -1%;
        width: 50%;
        height: 100%;
        background-color: #ee5253;
        z-index: -1;
        transform: skewX(30deg);
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .btn__p5-2:hover::before {
        transform: skewX(0);
        left: 50%;
        top: 0; }
      .btn__p5-2::after {
        content: "";
        position: absolute;
        top: 5px;
        left: 51%;
        width: 50%;
        height: 100%;
        background-color: #0a3d62;
        z-index: -1;
        transform: skewX(30deg);
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .btn__p5-2:hover::after {
        transform: skewX(0);
        left: 0%;
        top: 0; }
    .btn__p5-3 {
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      padding: 2.5rem 5rem;
      background-color: white;
      color: #777;
      border-radius: 100px;
      font-size: 2.4rem;
      transition: all 0.2s; }
      .btn__p5-3::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 100px;
        transition: all 0.4s;
        z-index: -1; }
      .btn__p5-3:hover::before {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
      .btn__p5-3:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
      .btn__p5-3:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
    .btn__p5-4 {
      width: 25rem;
      padding: 0;
      line-height: 8rem;
      text-transform: uppercase;
      position: relative;
      text-align: center;
      color: #250e74;
      border: 4px solid #250e74;
      font-size: 2.4rem;
      letter-spacing: 3px;
      overflow: hidden; }
      .btn__p5-4:hover {
        color: white; }
      .btn__p5-4::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-top: 4rem solid #250e74;
        border-bottom: 4rem solid #250e74;
        border-right: 4rem solid transparent;
        z-index: -1;
        transition: all 0.5s;
        transform: translateX(-100%); }
      .btn__p5-4:hover::before {
        transform: translateX(0); }
      .btn__p5-4::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-top: 4rem solid #250e74;
        border-bottom: 4rem solid #250e74;
        border-left: 4rem solid transparent;
        z-index: -1;
        transition: all 0.5s;
        transform: translateX(100%); }
      .btn__p5-4:hover::after {
        transform: translateX(0); }

.bg {
  position: relative; }
  .bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
    transform: scale(1.5);
    z-index: 0; }
  .bg-1::before {
    background-color: #222; }
  .bg-2::before {
    background-color: grey; }
  .bg-3::before {
    background-color: #10ac84; }

.img {
  width: 50rem;
  height: 50rem;
  position: relative;
  overflow: hidden;
  cursor: crosshair; }
  .img-1 .image-caption {
    opacity: 0;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0); }
  .img-1:hover .image-caption {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5); }
  .img-1 .image {
    transition: all 0.5s; }
  .img-1:hover .image {
    transform: scale(1.3) rotate(15deg); }
  .img-2 .image-caption {
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateX(-100%);
    transition: all 0.5s; }
  .img-2:hover .image-caption {
    transform: translateX(0); }
  .img-2 .image {
    transition: all 0.5s; }
  .img-2:hover .image {
    transform: scale(1.3) rotate(-15deg); }
  .img-3 .image-caption {
    background-color: black;
    transition: all 0.5s;
    transform: translateX(-100%); }
  .img-3:hover .image-caption {
    transform: translateX(0); }
  .img-3 .image {
    transition: all 0.5s; }
  .img-3:hover .image {
    transform: translateX(100%); }
  .img-4 .image-caption {
    top: unset;
    bottom: 0;
    height: 30%;
    background-color: black;
    transform: translateY(100%);
    transition: all 0.5s; }
  .img-4:hover .image-caption {
    transform: translateY(0); }
  .img-4 .image {
    transition: all 0.5s; }
  .img-4:hover .image {
    transform: translateY(-30%); }
  .img-5 {
    border-radius: 10px; }
    .img-5 .image-caption {
      font-family: "Raleway", sans-serif;
      gap: 5px;
      transform: translateY(-20px);
      opacity: 0;
      transition: all 0.25s;
      transition-delay: 0; }
      .img-5 .image-caption h2,
      .img-5 .image-caption p {
        letter-spacing: 1px; }
      .img-5 .image-caption h2 {
        font-weight: 400; }
      .img-5 .image-caption p {
        background-color: #ae895d;
        padding: 3px 5px; }
    .img-5:hover .image-caption {
      transition-delay: 0.3s;
      transform: translateY(0);
      opacity: 1; }
    .img-5::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #006266;
      opacity: 0.5;
      transform: translateY(100%);
      transition: all 0.25s;
      transition-delay: 0.25s; }
    .img-5:hover::before {
      transform: translateY(0);
      transition-delay: 0s; }
  .img-6 {
    width: 30rem;
    height: 40rem;
    border: 5px solid white; }
    .img-6 .image {
      transition: all 1s; }
    .img-6:hover .image {
      transform: scale(1.2) rotate(9deg); }

.image {
  width: 100%;
  height: 100%; }

.image-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.6rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  color: white; }
  .image-caption h2 {
    font-size: 3.6rem;
    text-transform: uppercase;
    margin: 0; }
  .image-caption p {
    font-size: 1.8rem;
    text-transform: capitalize; }

.container {
  max-width: 162rem;
  margin: 0 auto; }

.grid {
  display: grid;
  width: 100%;
  row-gap: 2rem;
  column-gap: 1rem;
  justify-items: center;
  align-items: center; }
  .grid__2col {
    grid-template-columns: repeat(2, 1fr); }
  .grid__3col {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 6.4rem; }
  .grid__4col {
    grid-template-columns: repeat(4, 1fr); }

section {
  padding: 2rem 15rem 5rem;
  min-height: 25vh;
  background-color: #eee; }
  section:last-of-type {
    padding: 2rem 15rem 15rem 15rem; }

@media (max-width: 480px) {
  html {
    font-size: 50%; }
  .grid.grid__2col, .grid.grid__3col {
    grid-template-columns: 1fr; }
  section.project-images, section.project-buttons {
    padding: 2rem 2rem 5rem;
    display: grid;
    place-content: center; } }
